/* .product-details-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-details-page .product-item {
  width:80%;
  align-items: center;
}

.product-details-page .product-item img {
  width:60%;
}

.desc-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
} */
